# ignore environment varaibles  
.env

# ignore python virtual environmnet 
venv/
.venv


# ignore the dataset for now as it is big
movies.csv

# ignore JSON for now
movies.json 

# project plan
plan.MD

#ignore qdrant storage
qdrant_storage/

# ignore pycache
__paycache__

# desktop chat app
chat_gui.py

# bytecode
__pycache__/
*.py[cod]

# Meta data, not important to track 
.DS_Store

#ignore pipline db for now
*.duckdb

# hide data am working with for now
data

# hide dlt pipe line output
dlt_output